* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  color: #fff;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(61, 100, 100);
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid rgb(50, 94, 94);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.2rem;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

.search:active {
  outline: 0;
}

.movie-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  background-color: rgb(61, 100, 100);
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 0.8rem;
  width: 290px;
}

.movie img {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: darkslategray;
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: darkslategray;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: green;
}

.tag.orange {
  color: rgb(215, 157, 50);
}

.tag.red {
  color: red;
}